body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    margin: 0;
    padding: 10px 20px;
    color: white;
    background: #2980b9;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: normal;
}

span {
    float: right;
}

ul {
    margin: 0;
    padding: 0px 20px;
    list-style: none;
}

li {
    color: #666
    height: 40px;
    line-height: 40px;
    background: #fff;
}

li:nth-child(2n) {
    background: #f7f7f7;
}

.completed {
    color: gray;
    text-decoration: line-through;
}

#container {
    width: 360px;
    margin: 100px auto;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    background-color: #f7f7f7;
}

